body,table,video,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr,th,td,canvas,embed,output,ruby,summary,time,mark,audio,html,q,blockquote,ul,ol,section,aside,details,figure,figcaption,footer,header,hgroup,menu,nav,article{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}table{border-collapse:collapse;border-spacing:0}q,blockquote{quotes:none}ul,ol{list-style:none}section,aside,details,figure,figcaption,footer,header,hgroup,menu,nav,article{display:block}q:after,blockquote:after,q:before,blockquote:before{content:none}

* {
	box-sizing: border-box;
}

.wrapper {
	position: relative;
	height: 100vh;
	background-image: url("../img/peach - BG.jpg");
	overflow: hidden;
}

.loading-page {
	background-image: url('../img/_loading.jpg');
	background-size: cover;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 400;
}

.header-bg {
	position: absolute;
	background-size: cover;
	transition: all 0.6s ease 0s;
	opacity: 0;
}

.initial-header-bg {
	opacity: 1;	
}

.header-tagline {
	position: absolute;
	transform: scale(0);
	transition: all 0.6s ease 0s;
}

.initial-header-newBanner,
.header-newBanner {
	position: absolute;
	transition: all 0.6s ease 0s;
}

.header-newBanner {
	opacity: 0;
}

.main {
	position: relative;
}

.bg-decor-item {
	position: absolute;
	background-size: cover;
	transform: scale(0);
	transition: all 0.6s ease 0s;
}

.bg-decor-item_active {
	transform: scale(1);
}

.active {
	opacity: 1;
}

.disable {
	opacity: 0;
}

.slider-wrapper {
	position: absolute;
    height: 230px;
    width: 100%;
    z-index: 100;
    transition: all 0.5s;
}

.slider-window {
	display: flex;
	width: 100%;
	overflow: hidden;
}

.slide-line {
	display: flex;
	flex-shrink: 0;
	transition: all 0.5s;
}

.slider-item {
	height: 227px;
    width: 225px;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
}

.product-picture {
    height: 227px;
    width: 225px;
}

.arrow-left-container,
.arrow-right-container {
	z-index: 200;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 84px;
	opacity: 0;
    transition: all 0.7s;
}

.slider__arrow-container_active {
	opacity: 1;
}

.arrow-left-container {
    left: 3px;
}

.arrow-right-container {
	right: 3px;
}

.slider__left-arrow,
.slider__right-arrow {
	width: 28px;
    height: 45px;
}

.footer {
	position: absolute;
	bottom: 40px;
    left: 128px;
    opacity: 0;
    transition: all 0.7s;
}

.footer__img {
	width: 127px;
    height: 20px;
}

.footer_active {
	opacity: 1;
}

@media (orientation: landscape) {
  	.not-avaliable:before {
  		content: "";
	    background-color: white;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		z-index: 900;
	}

	.not-avaliable:after {
		content: "";
		background-image: url('../img/not_available.png');
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		z-index: 1000;
    }
}
